@import url(https://fonts.googleapis.com/css?family=Lato);._initial-maxheight {
  max-height: initial !important;
}

._initial-maxwidth {
  max-width: initial !important;
}

._initial-height {
  height: initial !important;
}

._initial-width {
  width: initial !important;
}

._padding-leftless {
  padding-left: 0 !important;
}

._padding-rightless {
  padding-right: 0 !important;
}

._margin-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

@media screen and (min-width: 1408px) {
  ._flex-content-baseline-fullhd {
    -webkit-box-pack: baseline !important;
        -ms-flex-pack: baseline !important;
            justify-content: baseline !important;
    -moz-justify-content: baseline !important;
    -webkit-justify-content: baseline !important;
  }
}

@media screen and (max-width: 1407px) {
  ._flex-content-baseline-widescreen {
    -webkit-box-pack: baseline !important;
        -ms-flex-pack: baseline !important;
            justify-content: baseline !important;
    -moz-justify-content: baseline !important;
    -webkit-justify-content: baseline !important;
  }
}

@media screen and (max-width: 1215px) {
  ._flex-content-baseline-desktop {
    -webkit-box-pack: baseline !important;
        -ms-flex-pack: baseline !important;
            justify-content: baseline !important;
    -moz-justify-content: baseline !important;
    -webkit-justify-content: baseline !important;
  }
}

@media screen and (max-width: 1023px) {
  ._margin-auto-tablet {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  ._margin-less-tablet {
    margin: 0 !important;
  }
  ._margin-leftless-tablet {
    margin-left: 0 !important;
  }
  ._margin-rightless-tablet {
    margin-right: 0 !important;
  }
  ._margin-bottomless-tablet {
    margin-bottom: 0 !important;
  }
  ._margin-topless-tablet {
    margin-top: 0 !important;
  }
  ._flex-wrap-tablet {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  ._flex-wrap-tablet {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  ._flex-column-reverse-tablet {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -moz-flex-direction: column-reverse;
    -webkit-flex-directions: column-reverse;
  }
  ._flex-content-center-tablet {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -moz-justify-content: center !important;
    -webkit-justify-content: center !important;
  }
}

@media screen and (max-width: 768px) {
  ._height-initial-mobile {
    height: initial !important;
  }
  ._margin-less-mobile {
    margin: 0 !important;
  }
  ._margin-leftless-mobile {
    margin-left: 0 !important;
  }
  ._margin-rightless-mobile {
    margin-right: 0 !important;
  }
  ._margin-bottomless-mobile {
    margin-bottom: 0 !important;
  }
  ._margin-topless-mobile {
    margin-top: 0 !important;
  }
  ._flex-column-mobile {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -moz-flex-direction: column !important;
    -webkit-flex-directions: column !important;
  }
  ._flex-column-reverse-mobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -moz-flex-direction: column-reverse;
    -webkit-flex-directions: column-reverse;
  }
  ._flex-content-center-mobile {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -moz-justify-content: center !important;
    -webkit-justify-content: center !important;
  }
  ._flex-items-center-mobile {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -moz-align-items: center !important;
    -webkit-align-items: center !important;
  }
  ._flex-wrap-mobile {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

html, body {
  font-family: "Lato", sans-serif;
  height: 100%;
  min-height: 100%;
}

.wrapper {
  min-height: 100%;
  position: relative;
  padding-bottom: 32px;
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding-bottom: 74px;
  }
}

#Navbar {
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  background-color: #121212;
}

#Navbar.is-active {
  background-color: #121212 !important;
}

#Navbar > .container > .navbar-brand {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
}

#Navbar > .container > .navbar-brand > .navbar-item {
  background-color: transparent !important;
}

#Navbar > .container > .navbar-brand > .navbar-burger {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -moz-flex-direction: column;
  -webkit-flex-directions: column;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -moz-justify-content: center !important;
  -webkit-justify-content: center !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
}

#Navbar > .container > .navbar-brand > .navbar-burger > span {
  background-color: #fff;
  width: 20px;
  height: 2px;
  position: static;
}

#Navbar > .container > .navbar-brand > .navbar-burger.is-active > span:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

#Navbar > .container > .navbar-brand > .navbar-burger.is-active > span:nth-child(3) {
  -webkit-transform: translateY(-6px) rotate(-45deg);
  transform: translateY(-6px) rotate(-45deg);
}

#Navbar > .container > .navbar-brand > .navbar-burger > span:nth-last-child(n + 2) {
  margin-bottom: 5px;
}

#Navbar > .container > .navbar-menu > .navbar-end > .navbar-item {
  color: #fff;
  font-size: 0.85em;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
																	supported by Chrome and Opera */
}

#Navbar > .container > .navbar-menu > .navbar-end > .navbar-item:hover {
  background-color: transparent;
  color: #ff1d25;
}

#Navbar > .container > .navbar-menu > .navbar-end > .is-active {
  background-color: transparent;
  color: #ff1d25;
}

@media screen and (max-width: 1023px) {
  #Navbar > .container > .navbar-menu {
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    position: absolute;
    width: 100%;
    z-index: 1;
    background-color: #121212;
  }
}

#Footer.default {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #121212;
}

#Footer.transparent {
  background-color: transparent;
}

#Footer > .container {
  color: #fff;
}

#Footer > .container > .level > .level-item > .social-link > .icon {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  color: #fff;
}

#Footer > .container > .level > .level-item > .social-link > .icon:hover {
  color: #ff1d25;
}

@media screen and (max-width: 768px) {
  #Footer > .container > .level > .level-item:nth-last-child(1) {
    margin-top: 1em;
  }
}

#LandingPage {
  background-image: url("../images/landing/landing-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -3.25rem;
}

#LandingPage > .hero-head > #Navbar {
  background-color: rgba(18, 18, 18, 0.6);
}

#LandingPage > .hero-body > .container > .title {
  color: #fff;
}

#WhoWeAre > #Attitudes {
  background-color: #ff1d25;
  color: #fff;
}

#WhoWeAre > #Attitudes > .hero-body > .container > .columns > .column > .subtitle {
  color: #fff;
  margin-bottom: 40px;
}

#WhoWeAre > #Attitudes > .hero-body > .container > .level {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -moz-align-items: baseline;
  -webkit-align-items: baseline;
}

#WhoWeAre > #Attitudes > .hero-body > .container > .columns > .column > .title {
  color: #fff;
  padding: 10px 0;
}

#WhoWeAre > #Attitudes > .hero-body > .container > .columns > .column > .icon {
  font-size: 5em;
  width: initial;
  height: initial;
}

#WhoWeAre > #TheTeam > .hero {
  background-color: #121212;
}

#WhoWeAre > #TheTeam > .hero > .hero-body {
  padding: 2em 1.5em;
}

#WhoWeAre > #TheTeam > .hero > .hero-body > .container > .title {
  color: #fff;
  font-size: 2.5em;
}

#WhoWeAre > #TheTeam > .container > .columns > .column > .box:nth-child(even) > .media {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -moz-flex-direction: row-reverse;
  -webkit-flex-directions: row-reverse;
}

#WhoWeAre > #TheTeam > .container > .columns > .column > .box > .media > .media-left > .profile-image > .image,
#WhoWeAre > #TheTeam > .container > .columns > .column > .box > .media > .media-right > .profile-image > .image {
  width: 250px;
}

#WhoWeAre > #TheTeam > .container > .columns > .column > .box > .media > .media-content > .content > .name {
  margin-bottom: 10px;
}

#WhoWeAre > #TheTeam > .container > .columns > .column > .box > .media > .media-content > .level > .level-left > .social-link {
  margin-right: 5px;
}

#WhoWeAre > #TheTeam > .container > .columns > .column > .box > .media > .media-content > .level > .level-left > .social-link > .icon {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  color: #121212;
}

#WhoWeAre > #TheTeam > .container > .columns > .column > .box > .media > .media-content > .level > .level-left > .social-link > .icon:hover {
  color: #ff1d25;
}

@media screen and (max-width: 1023px) {
  #WhoWeAre > #Attitudes > .hero-body > .container > .columns > .column {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  #WhoWeAre > #TheTeam > .container > .columns > .column > .box:nth-last-child(1) {
    margin-bottom: 30px;
  }
  #WhoWeAre > #TheTeam > .container > .columns > .column > .box > .media > .media-right,
  #WhoWeAre > #TheTeam > .container > .columns > .column > .box > .media > .media-left {
    margin-bottom: 10px;
  }
}

#WhatWeDo > #Services > .hero-body > .container > .columns > .column > .icon {
  font-size: 5em;
  width: initial;
  height: initial;
}

#WhatWeDo > #Operating > .hero-body > .container > .columns > .column {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
}

#Clients > .container > .columns {
  height: calc(100vh - 84px);
}

#Clients > .container > .columns > .column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -moz-flex-direction: column;
  -webkit-flex-directions: column;
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
  -moz-justify-content: flex-end !important;
  -webkit-justify-content: flex-end !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  position: relative;
}

#Clients > .container > .columns > .column > .shader {
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: transparent;
}

#Clients > .container > .columns > .column:hover > .shader {
  background-color: rgba(0, 0, 0, 0.5);
}

#Clients > .container > .columns > .column > .logo {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  position: relative;
  z-index: 1;
  width: 60%;
  opacity: 0;
}

#Clients > .container > .columns > .column:hover > .logo {
  opacity: 1;
}

#ContactUs > #Notif {
  position: absolute;
  z-index: 100;
  background-color: #1dad4f;
  top: -200px;
  left: 0;
  right: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#ContactUs > #Notif > .showing {
  top: 0;
}

#ContactUs > #Notif > .delete {
  top: 5px;
  right: 5px;
}

#ContactUs > .container {
  padding-top: 40px;
  padding-bottom: 40px;
}

#ContactUs > .container > .columns > #ContactUsForm > .field:nth-child(n + 2) {
  margin-top: 20px;
}

#ContactUs > .container > .columns > #ContactUsForm > #SendMessage {
  padding-left: 25px;
  padding-right: 25px;
  background-color: #1dad4f;
}

#ContactUs > .container > .columns > #Details > .details > .level-item {
  -ms-flex-shrink: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  margin-left: 15px;
}

#ContactUs > .container > .columns > #Details > #Social {
  margin-top: 15px;
}

#ContactUs > .container > .columns > #Details > #Social > .level-item > .social-link {
  background-color: #ff1d25;
  color: #fff;
}

#ContactUs > .container > .columns > #Details > #Social > .level-item > .social-link:nth-last-child(n + 2) {
  margin-right: 15px;
}

@media screen and (max-width: 768px) {
  #ContactUs > .container > .columns > #Form > #SendMessage {
    width: 100%;
  }
  #ContactUs > .container > .columns > #Details > .details > .level-left {
    margin-bottom: 10px;
  }
}
