@import 'mixins';

._initial-maxheight {
  max-height: initial !important;
}

._initial-maxwidth {
  max-width: initial !important;
}

._initial-height {
  height: initial !important;
}

._initial-width {
  width: initial !important;
}

._padding-leftless {
  padding-left: 0 !important;
}

._padding-rightless {
  padding-right: 0 !important;
}


@media screen and (max-width: 1023px) {
  ._margin-auto-tablet {
    margin-left:auto !important;
    margin-right:auto !important;
  }

  ._flex-wrap-tablet {
    @include flex-wrap(wrap);
  }

  ._flex-wrap-tablet {
    @include flex-wrap(wrap);
  }
}

@media screen and (max-width: 768px) {

  ._margin-less-mobile {
    margin: 0 !important;
  }

  ._margin-leftless-mobile {
    margin-left: 0 !important;
  }

  ._margin-rightless-mobile {
    margin-right: 0 !important;
  }

  ._margin-bottomless-mobile {
    margin-bottom: 0 !important;
  }

  ._margin-topless-mobile {
    margin-top: 0 !important;
  }

  ._flex-column-mobile {
    @include flex-direction(column, true);
  }

  ._flex-column-reverse-mobile {
    @include flex-direction(column-reverse);
  }

  ._flex-content-center-mobile {
    @include justify-content(center);
  }

  ._flex-items-center-mobile {
    @include align-items(center, true);
  }
}