._initial-maxheight {
  max-height: initial !important;
}

._initial-maxwidth {
  max-width: initial !important;
}

._initial-height {
  height: initial !important;
}

._initial-width {
  width: initial !important;
}

._padding-leftless {
  padding-left: 0 !important;
}

._padding-rightless {
  padding-right: 0 !important;
}