@mixin align-items($position)
{
	align-items: $position;
	-moz-align-items: $position;
	-webkit-align-items: $position;
}

@mixin flex-direction($position)
{
	flex-direction: $position;
	-moz-flex-direction: $position;
	-webkit-flex-directions: $position;
}

@mixin justify-content($position)
{
	justify-content:$position;
	-moz-justify-content:$position;
	-webkit-justify-content:$position;
}

@mixin flex-shrink($shrink) {
  -webkit-flex-shrink: $shrink;
     -moz-flex-shrink: $shrink;
      -ms-flex-shrink: $shrink;
          flex-shrink: $shrink;
}

@mixin height-calc($val)
{
	height: calc(#{$val});
	height: -moz-calc(#{$val});
	height: -o-calc(#{$val});
	height: -webkit-calc(#{$val});
} 

@mixin transition($transition...) {
	-moz-transition:    $transition;
	-o-transition:      $transition;
	-webkit-transition: $transition;
	transition:         $transition;
}