@import url("https://fonts.googleapis.com/css?family=Lato");
@import 'variables';
@import 'helpers';
@import 'mixins';

html,body {
    font-family: $font-family-sans-serif;
    height:100%;
    min-height:100%;
}

.tmm-logo-font {
    font-family: 'MontereyFLF';
    font-variant: small-caps;
}

.wrapper {
    min-height: 100%;
    position: relative;
    padding-bottom:32px;
}

@media screen and (max-width: 768px) {
    .wrapper {
        padding-bottom:74px;
    }    
}