@import 'mixins';



#Clients {
  
  > .hero.is-fullheight {
    min-height: 91vh;
    text-align: center;
  }

  > .container {
    // background-color: #232323; // Temporary
    > .columns {
      //height: calc(100vh - 50px);
    }

    > .columns > .column {
      @include flex-direction(column);
      @include justify-content(flex-end);
      @include align-items(center);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      padding: 0;
      position: relative;
      height: 100vh;
    }

    > .columns > .column.tmm-logo {
      background-size: 60%;
    }

    > .columns > .column > .shader {
      @include transition(background-color 0.2s);
      position: absolute;
      height:100%;
      width:100%;
      background-color: transparent;
    }

    > .columns > .column:hover > .shader {
      background-color: rgba(0,0,0, 0.5);
    }

    > .columns > .column > .logo {
      @include transition(opacity 0.5s);
      position: relative;
      z-index: 1;
      width: 60%;
      opacity: 0;
    }

    > .columns > .column:hover > .logo {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 768px) {
  #Clients {
    > .container {
      > .columns > .column {
        height: 750px;
      }
    }
  }
}