@import 'mixins';
@import "variables";

#ContactUs {

  > .container {
    margin-top: 30px;
    > .columns > #Form > .field:nth-child(n + 2) {
      margin-top: 20px;
    }

    > .columns > #Form > #SendMessage {
      padding-left: 25px;
      padding-right: 25px;
    }

    > .columns > #Details > .details > .level-item:nth-child(2) {
      @include justify-content(baseline);
      @include flex-shrink(1);
      margin-left: 15px;
    }

    > .columns > #Details > #Social {
      margin-top:15px;
    }

    > .columns > #Details > #Social > .level-item > .social-link{
      background-color:$theme-primary-red;
      color:#fff;
    }

    > .columns > #Details > #Social > .level-item > .social-link:nth-last-child(n + 2) {
      margin-right: 15px;
    }
  }
}