@import 'mixins';
@import "variables";

#ContactUs {
  > #Notif {
    position: absolute;
    z-index: 100;
    top: -200px;
    left: 0;
    right: 0;
    opacity: 0;
    @include transition(all 0.7s);

    &.is-success {
      background-color: $theme-primary-green;
    }

    &.is-danger {
      background-color: $theme-primary-red;
    }

    &.showing {
      top: 0;
      opacity: 1;
    }

    > .delete {
      top: 5px;
      right: 5px;
    }
  }

  > .container {
    padding-top: 40px;
    padding-bottom: 40px;

    > .columns > #ContactUsForm > .field:nth-child(n + 2) {
      margin-top: 20px;
    }

    > .columns > #ContactUsForm > #SendMessage {
      padding-left: 25px;
      padding-right: 25px;
      background-color:$theme-primary-green;
    }

    > .columns > #Details > .details > .level-item {
      @include flex-shrink(1);
      margin-left: 15px;
    }

    > .columns > #Details > #Social {
      margin-top:15px;
    }

    > .columns > #Details > #Social > .level-item > .social-link{
      background-color:$theme-primary-red;
      color:#fff;
    }

    > .columns > #Details > #Social > .level-item > .social-link:nth-last-child(n + 2) {
      margin-right: 15px;
    }
  }
}

@media screen and (max-width: 768px) {
  #ContactUs {

    > .container {

      > .columns > #Form > #SendMessage {
        width:100%;
      }
  
      > .columns > #Details > .details > .level-left {
        margin-bottom: 10px;
      }
    }
  }
}