@import "variables";

#LandingPage{
  background-image:url('../images/landing/landing-bg.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  margin-top: -3.25rem;
  > #Navbar {
    background-color: rgba(18, 18, 18, 0.6);
  }

  > .hero-body {
    > .container > .title {
      color:#fff;
    }
  }
}