@import 'mixins';

#WhatWeDo {
  > #Services {
    > .hero-body {

      > .container > .columns > .column > .icon {
        font-size: 5em;
        width:initial;
        height:initial;
      }
      
    }
  }

  > #Operating {
    > .hero-body {

      > .container > .columns > .column{
        @include align-items(center);
      }
    }
  }
}