@import "variables";
@import 'mixins';

#WhoWeAre {
  > #Attitudes {
    background-color: $theme-primary-red;
    color: #fff;
    > .hero-body {
      > .container > .columns > .column > .subtitle  {
        color: #fff;
        margin-bottom: 40px;
      }

      > .container > .level {
        @include align-items(baseline);
      }

      > .container > .columns > .column > .title{
        color:#fff;
        padding:10px 0;
      }

      > .container > .columns > .column > .icon {
        font-size: 5em;
        width:initial;
        height:initial;
      }
    }
  }
  > #TheTeam {
    > .hero {
      background-color: rgb(18, 18, 18);
    }

    > .hero > .hero-body {
      padding: 2em 1.5em;
    }
    
    > .hero > .hero-body > .container > .title {
      color: #fff;
      font-size: 2.5em;
    }

    > .container > .columns > .column > .box:nth-child(even) > .media {
      @include flex-direction(row-reverse);
    }

    > .container > .columns > .column > .box > .media > .media-left > .profile-image > .image,
    > .container > .columns > .column > .box > .media > .media-right > .profile-image > .image{
      width:250px;
    }

    > .container > .columns > .column > .box > .media > .media-content > .content > .name {
      margin-bottom: 10px;
    }

    > .container > .columns > .column > .box > .media > .media-content > .level > .level-left > .social-link {
      margin-right: 5px;
    }

    > .container > .columns > .column > .box > .media > .media-content > .level > .level-left > .social-link > .icon {
      @include transition(color 0.3s);
      color: $text-color;
    }

    > .container > .columns > .column > .box > .media > .media-content > .level > .level-left > .social-link > .icon:hover {
      color:$theme-primary-red
    }
  }
}

@media screen and (max-width: 1023px) {
  #WhoWeAre {
    > #Attitudes {
      > .hero-body {
        > .container > .columns > .column {
          margin-bottom: 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #WhoWeAre {
    > #TheTeam {
      > .container > .columns > .column > .box > .media > .media-right,
      > .container > .columns > .column > .box > .media > .media-left {
        margin-bottom:20px;
      }
    }
  }
}